@-webkit-keyframes slide-bar {
  0% {
    margin-left: 0%;
  }
  50% {
    margin-left: 150%;
  }
  90% {
    margin-left: 200%;
    display: none;
    opacity: 0;
    z-index: -2;
  }
  100% {
    margin-left: 0%;
    display: none;
    opacity: 0;
    z-index: -2;
  }
}

@keyframes slide-bar {
  0% {
    margin-left: 0%;
  }
  50% {
    margin-left: 150%;
  }
  90% {
    margin-left: 200%;
    display: none;
    opacity: 0;
    z-index: -2;
  }
  100% {
    margin-left: 0%;
    display: none;
    opacity: 0;
    z-index: -2;
  }
}

body {
  background-color: #EB0041;
}

.wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-gap: 3px;
  height: 150px;
  background-color: #EB0041;
  border: 9px solid black;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 20;
}

.wrap .logo {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  height: 80px;
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  font-style: italic;
  font-weight: bold;
  -ms-flex-item-align: top;
      -ms-grid-row-align: top;
      align-self: top;
  text-align: center;
}

.wrap .logo .pic {
  height: 80px;
  width: 80px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.wrap a {
  text-decoration: none;
  color: black;
}

.wrap .nav1 {
  -ms-grid-column: 11;
      grid-column-start: 11;
  grid-column-end: 12;
  border: 5px solid black;
  background-image: -webkit-gradient(linear, right top, left top, from(#EB1893), to(#EB0041));
  background-image: linear-gradient(to left, #EB1893, #EB0041);
  height: 50px;
  border-radius: 20px;
  text-align: center;
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 30px;
  font-weight: bold;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wrap .nav2 {
  -ms-grid-column: 12;
      grid-column-start: 12;
  grid-column-end: 13;
  border: 5px solid black;
  background-image: -webkit-gradient(linear, right top, left top, from(#EB1893), to(#EB0041));
  background-image: linear-gradient(to left, #EB1893, #EB0041);
  height: 50px;
  border-radius: 20px;
  text-align: center;
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 30px;
  font-weight: bold;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  background-color: #EB0041;
  height: 810px;
  border: 9px solid black;
  margin-top: 170px;
}

.sec .bar {
  width: 33%;
  border: 1px solid #EB1893;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 200px 200px 200px 200px;
      grid-template-rows: 200px 200px 200px 200px;
  overflow-y: scroll;
  grid-gap: 4px;
}

.sec .item {
  width: 66%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: (200px)[4];
      grid-template-rows: repeat(4, 200px);
}

.sec .item .item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  border: 9px solid black;
  border-radius: 80px;
  margin-top: 4px;
}

.sec .item .item1 .text-main {
  width: 250px;
  height: auto;
  text-align: justify;
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin-left: 40px;
  margin-top: 20px;
}

.sec .item .item1 .circle-main {
  -o-object-fit: cover;
     object-fit: cover;
  width: 179px;
  height: 179px;
  border-radius: 50%;
  margin-right: 7px;
}

.sec .item .item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 7;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  border: 9px solid black;
  border-radius: 80px;
}

.sec .item .item2 .text-main1 {
  width: 350px;
  height: auto;
  text-align: justify;
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin-right: 40px;
  margin-top: 20px;
}

.sec .item .item2 .circle-main1 {
  -o-object-fit: cover;
     object-fit: cover;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin-left: 15px;
}

.sec .item .item3 {
  overflow: hidden;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 7;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 5;
}

.sec .item .item3 .mount {
  width: 100%;
  border-radius: 40%;
}

.col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  border: 9px solid black;
  border-radius: 100px;
  width: 210px;
  height: 380px;
}

.col1 .circle {
  -o-object-fit: cover;
     object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 7px;
}

.col1 .text {
  width: 150px;
  height: 150px;
  text-align: justify;
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 4;
  border: 9px solid black;
  border-radius: 100px;
  width: 210px;
  height: 380px;
}

.col2 .circle1 {
  -o-object-fit: cover;
     object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 7px;
}

.col2 .text1 {
  width: 150px;
  height: 150px;
  text-align: justify;
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.col3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 5;
  border: 9px solid black;
  border-radius: 100px;
  width: 215px;
  height: 380px;
}

.col3 .circle2 {
  -o-object-fit: cover;
     object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 7px;
}

.col3 .text2 {
  width: 150px;
  height: 150px;
  text-align: justify;
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.col4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 6;
  border: 9px solid black;
  border-radius: 100px;
  width: 215px;
  height: 380px;
}

.col4 .circle3 {
  -o-object-fit: cover;
     object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 7px;
}

.col4 .text3 {
  width: 150px;
  height: 150px;
  text-align: justify;
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 600px;
  -webkit-animation: slide-bar 16s 1s infinite ease-in;
          animation: slide-bar 16s 1s infinite ease-in;
}

.cont:hover {
  -webkit-animation: none;
          animation: none;
}

.btn1, .btn2, .btn3 {
  background-image: -webkit-gradient(linear, right top, left top, from(#EB1893), to(#EB0041));
  background-image: linear-gradient(to left, #EB1893, #EB0041);
  height: 50px;
  border-radius: 20px;
  text-align: center;
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 30px;
  font-weight: bold;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 30px;
  border: 2px solid black;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #EB0041;
  border: 9px solid black;
}

.container div {
  width: 40%;
  height: auto;
  border: 9px solid black;
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  background-color: #EB0041;
  margin: 5px;
  padding: 30px;
  text-align: center;
  text-align: justify;
  font-weight: bold;
}

.container h3 {
  text-align: center;
}

.pic-hell {
  width: 100%;
  height: auto;
  border: 9px solid black;
}

@media screen and (max-width: 600px) {
  .wrap {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: 150px 150px;
        grid-template-rows: 150px 150px;
    grid-gap: 3px;
    height: 300px;
  }
  .wrap .logo {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 6;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
  }
  .wrap .logo .pic {
    height: 70px;
    width: 70px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .wrap .nav1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
  }
  .wrap .nav2 {
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 6;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
  }
  .sec {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    background-color: #EB0041;
    height: 810px;
    border: 9px solid black;
  }
  .sec .item {
    width: 66%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: (200px)[4];
        grid-template-rows: repeat(4, 200px);
  }
  .sec .item .item1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    border: 9px solid black;
    border-radius: 80px;
    margin-top: 4px;
  }
  .sec .item .item1 .text-main {
    width: 250px;
    height: auto;
    text-align: justify;
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 20px;
  }
  .sec .item .item1 .circle-main {
    -o-object-fit: cover;
       object-fit: cover;
    width: 179px;
    height: 179px;
    border-radius: 50%;
    margin-right: 7px;
  }
  .sec .item .item2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 7;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    border: 9px solid black;
    border-radius: 80px;
  }
  .sec .item .item2 .text-main1 {
    width: 350px;
    height: auto;
    text-align: justify;
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-right: 40px;
    margin-top: 20px;
  }
  .sec .item .item2 .circle-main1 {
    -o-object-fit: cover;
       object-fit: cover;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-left: 15px;
  }
  .sec .item .item3 {
    overflow: hidden;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 7;
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 5;
  }
  .sec .item .item3 .mount {
    width: 100%;
    border-radius: 40%;
  }
  .col1, .col1, .col2, .col3, .col4 {
    width: 150px;
    height: 380px;
  }
  .col1 .circle, .col1 .circle1, .col1 .cirle2, .col1 .circle3, .col1 .circle, .col1 .circle1, .col1 .cirle2, .col1 .circle3, .col2 .circle, .col2 .circle1, .col2 .cirle2, .col2 .circle3, .col3 .circle, .col3 .circle1, .col3 .cirle2, .col3 .circle3, .col4 .circle, .col4 .circle1, .col4 .cirle2, .col4 .circle3 {
    -o-object-fit: cover;
       object-fit: cover;
    width: 150px;
    height: 150px;
  }
  .col1 .text, .col1 .text1, .col1 .text2, .col1 .text3, .col1 .text, .col1 .text1, .col1 .text2, .col1 .text3, .col2 .text, .col2 .text1, .col2 .text2, .col2 .text3, .col3 .text, .col3 .text1, .col3 .text2, .col3 .text3, .col4 .text, .col4 .text1, .col4 .text2, .col4 .text3 {
    width: 150px;
    height: 200px;
    text-align: justify;
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
  }
}
/*# sourceMappingURL=main.css.map */